/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html {
  font-family: 'Varela Round', sans-serif;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 6rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 4.8rem;
  margin-bottom: 20px;
  color: #a09d67;
}
h4 {
  font-size: 3.6rem;
}
h5 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
  margin-bottom: 20px;
  line-height: 125%;
}
body {
  background-color: #26393D;
  color: #88886a;
}
.button {
  font-family: 'Varela Round', sans-serif;
  font-size: 3.6rem;
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  color: #E8E595;
  background-color: #26393D;
  border: 2px solid #E8E595;
  border-radius: 6px;
  cursor: pointer;
}
@media (min-width: 800px) {
  .button {
    max-width: 200px;
  }
}
a {
  font-size: 2.4rem;
  text-decoration: none;
  color: #E8E595;
}
header {
  background-color: #40627C;
  color: #E8E595;
  box-shadow: 2px 2px 50px black;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  flex-wrap: wrap;
}
nav .letter-spaced {
  letter-spacing: 0.4rem;
}
.nav-container {
  margin: 20px 0;
  padding: 0 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 800px) {
  .nav-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0;
  }
}
.call-to-action {
  width: 100%;
  background-image: url("../img/abstract-art-black-background-1040499.jpg");
  background-position: bottom;
  background-size: 1050px;
}
.call-to-action div {
  color: #40627C;
  font-weight: bold;
  padding: 100px 0;
  max-width: 800px;
  margin: 0 auto;
}
.call-to-action div h2 {
  text-shadow: 4px 4px 5px #263B4A;
  padding-bottom: 20px;
}
.call-to-action .button {
  margin-top: 50px;
  background: transparent;
  font-weight: normal;
}
.container {
  width: 100%;
}
@media (min-width: 800px) {
  .container {
    margin: 0 auto;
    max-width: 800px;
  }
}
.container .synopsis {
  margin: 20px 5%;
}
@media (min-width: 800px) {
  .container .synopsis {
    margin: 20px 0;
    width: 100%;
  }
}
@media (min-width: 800px) {
  .user-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.user-content .user-card {
  border-radius: 6px;
}
@media (min-width: 800px) {
  .user-content .user-card {
    max-width: 390px;
    margin-bottom: 20px;
  }
}
.user-content .user-card img {
  width: 100%;
  cursor: pointer;
}
.user-content .user-card .description {
  display: none;
}
.user-content .user-card .card-selected {
  display: block;
  margin: 20px 5%;
}
@media (min-width: 800px) {
  .user-content .user-card .card-selected {
    margin: 20px 0;
  }
}
.signUp {
  margin-bottom: 20px;
}
.about-container {
  width: 100%;
}
@media (min-width: 800px) {
  .about-container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.about-container .synopsis {
  margin: 20px 5%;
}
@media (min-width: 800px) {
  .about-container .synopsis {
    margin: 20px 0;
    width: 45%;
    order: 0;
  }
}
.img-about-us img {
  width: 100%;
}
@media (min-width: 800px) {
  .img-about-mid {
    order: 1;
    width: 45%;
    margin-top: 20px;
  }
}
@media (min-width: 800px) {
  .img-about-end {
    order: 3;
  }
}
.about-mid {
  padding: 20px 5% 0;
  background-color: #263B4A;
}
@media (min-width: 800px) {
  .about-mid {
    padding: 20px 0;
    background-color: #26393D;
    order: 2;
  }
}
.about-end {
  padding: 20px 5%;
}
@media (min-width: 800px) {
  .about-end {
    padding: 20px 0 20px;
    order: 4;
  }
}
.nav-select {
  color: #88886a;
}
