.call-to-action {
    width: 100%;
    background-image: url("../img/abstract-art-black-background-1040499.jpg");
    background-position: bottom;
    background-size: 1050px;

    div {
        font-family: sans-serif;
        color: #7e7e7e;
        padding: 100px 5%;
        max-width: 800px;
        margin: 0 auto;

        @media(min-width: 800px) {
            padding: 100px 0;
        }

        h2 {
            text-shadow: 4px 4px 5px black;
            padding-bottom: 20px;
        }
    }

    .button {
        margin-top: 50px;
        background: transparent;
        font-weight: normal;
    }
}

.container {
    width: 100%;
    @media(min-width: 800px) {
        margin: 0 auto;
        max-width: 800px;
    }

    .synopsis {
        margin: 20px 5%;
        @media(min-width: 800px) {
            margin: 20px 0;
            width: 100%;
        }
    }
}

.user-content {
    @media(min-width: 800px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .user-card {
        border-radius: 6px;

        @media(min-width: 800px) {
            max-width: 390px;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            cursor: pointer;

            @media(min-width: 800px) {
                box-shadow: 0 0 12px white;
            }
        }

        .description {
            display: none;
        }

        .card-selected {
            display: block;
            margin: 20px 5%;

            @media(min-width: 800px) {
                margin: 20px 0;
                
            }
        }
    }
}

.signUp {
    margin-bottom: 20px;
}