.container {
    width: 100%;
    @media(min-width: 800px) {
        margin: 0 auto;
        max-width: 800px;
    }

    .synopsis {
        margin: 20px 5%;
        @media(min-width: 800px) {
            margin: 20px 0;
            width: 100%;
        }
    }
}

.user-content {
    @media(min-width: 800px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .user-card {
        border-radius: 6px;

        @media(min-width: 800px) {
            max-width: 390px;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            cursor: pointer;
        }

        .description {
            display: none;
        }

        .card-selected {
            display: block;
            margin: 20px 5%;

            @media(min-width: 800px) {
                margin: 20px 0;
                
            }
        }
    }
}

.signUp {
    margin-bottom: 20px;
}