a {
    font-size: 2.4rem;
    text-decoration: none;
    color: gray;
}

// navigation display
header {
    margin: 20px 2.5%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: gray dashed 2px;
}

.nav-container {
    margin: 20px 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
}