a {
    font-size: 2.4rem;
    text-decoration: none;
    color: @navText;

    &:last-child {
        border: none;
    }
}

// navigation display
header {
    background-color: @navBg;
    color: @navText;
    box-shadow: 2px 2px 50px black;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    // border-bottom: gray dashed 2px;
}

.nav-container {
    margin: 20px 0;
    padding: 0 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}